:root {
    --tp-base-background-color: #161616;
    --tp-container-background-color: #161616;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 4fr 8fr;
    background-color: #000000;
    color: #E6E6E3;
    height: 100vh;
    font-family: "Libre Baskerville", serif;
    font-size: 0.875rem;
}

#col-artwork {
    padding: 2rem;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    overflow-x: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #161616; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

#col-canvas {
    display: flex;
    flex-direction: col;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100vh;
    min-width: 42.5rem;
    background-color: #000000;
}

#col-canvas-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 1rem;
}

#controls {
    min-width: 18.25rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.tp-pane,
.tp-lblv, /* targets label views */
.tp-dfwv, /* targets default value views */
.tp-bldv, /* targets blade views */
.tp-input, /* targets input fields */
.tp-monitor /* targets monitor fields */
{
    font-family: "JetBrains Mono", monospace;
}
#intro {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

a {
    color: #E6E6E3;

    &:visited {
        color: #E6E6E3;
    }
}

h1, p {
    margin: 0;
    line-height: 150%;
}

h1 {
    font-size: 2rem;
    font-weight: 400;

}

.tp-btnv button {
    height: 32px;
    border: 4px solid #101010;
    border-radius: 4px;
    font-family: "JetBrains Mono", monospace;
    font-weight: 400;
    font-size: 0.75rem;
    color: #E6E6E3;
    background: linear-gradient(#646464, #333333);
    box-shadow: 0px 1px 1px 0px rgb(255, 255, 255, 0.5) inset,
                0px 2px 2px 0px rgb(255, 255, 255, 0.25) inset;
    cursor: pointer;
    transition: ease-out 100ms;
}

.tp-btnv button:hover {
    box-shadow: 0px 1px 1px 0px rgb(255, 255, 255, 0.5) inset,
                0px 2px 4px 0px rgb(255, 255, 255, 0.25) inset,
                0px 2px 2px 0px rgb(255, 255, 255, 0.25) inset;
}

.tp-btnv button:active {
    transform: translateY(2px);
    box-shadow: 0px 1px 1px 0px rgb(0, 0, 0, 0.5) inset,
                    1px 1px 4px 0px rgb(0, 0, 0, 0.25) inset,
                    -1px -2px 2px 0px rgb(0, 0, 0, 0.25) inset,
                    -1px 6px 4px 0px rgb(0, 0, 0, 0.1) inset;
}

#artwork-container {
    position: relative;
}

#artwork-text {
    margin-bottom: 2rem;
    border-top: 1px solid #606060;
    opacity: 0;
}

.text-row {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 1rem 0;
    border-bottom: 1px solid #606060;
}

.row-title {
    font-family: "JetBrains Mono", monospace;
    font-weight: 500;
    color: #AEAEA4;
}

#image-container {
    position: absolute;
    top: 0;
    transition: cubic-bezier(0.78, 0, 0.22, 1) 300ms;
    padding-bottom: 2rem;
}

#image-wrapper {
    position: relative;
    width: 100%;
}

#image {
    width: 100%;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgb(0, 0, 0, 0.5), transparent), url(https://grainy-gradients.vercel.app/noise.svg);
    backdrop-filter: blur(24px);
    color: white;
    font-family: "JetBrains Mono", monospace;
    text-align: center;
    cursor: pointer;
    transition: ease-out 100ms;
}

#overlay:hover {
    backdrop-filter: blur(12px);
}

.sheet-header {
    display: none;
}

@keyframes sheetEnter {
    from {
        margin-top: 100vh;
    }
    to {
        margin-top: 30vh;
    }
}

@media (max-width: 1024px) {
    body {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    body.modal-open {
        overflow: hidden;
    }
    
    #col-artwork {
        width: auto;
        height: fit-content;
        padding: 2rem;
        overflow-y: auto;
    }

    #artwork-container {
        display: none;
        position: fixed;    
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #00000077;
        backdrop-filter: blur(8px);
        overscroll-behavior-block: contain;
        z-index: 999;
    }

    #artwork-wrapper {
        margin-top: 30vh;
        background-color: #161616;
        width: 100%;
        height: 70vh;
        overflow-y: scroll;
        position: relative;
        animation: sheetEnter 300ms linear(0, 0.022 2.4%, 0.089 5.2%, 0.497 16.9%, 0.676 23.1%, 0.807 29.5%, 0.898 36.4%, 0.958 44.8%, 0.99 55.4%, 1 69.1%, 1);
    }

    .sheet-header {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: "JetBrains Mono", monospace;
        font-size: 1rem;
        font-weight: 500;
    }

    #sheet-close {
        text-decoration: underline;
    }

    #artwork-text {
        padding: 5rem 1rem 0 1rem;
        border: none;
        margin: 0;
    }

    #image-container {
        padding: 1rem;
    }

    #image-wrapper {
        object-fit: contain;
        margin-top: 2.25rem;
    }

    #image {
        width: 100%;
        height: auto;
    }

    #col-canvas {
        height: fit-content;
        min-width: 100vw;
        background-color: #000000;
        padding-top: 2rem;
    }

    #col-canvas-body {
        flex-direction: column;
        padding-bottom: 4rem;
        gap: 2rem;
    }

    #textmode-canvas {
        width: 100vw;
    }

    canvas {
        padding-bottom: 0;
    }

    #controls {
        position: relative;
        top: auto;
        right: auto;
        width: 100vw;
    }

    .btn-container {
        position: inherit;
        gap: 1rem;
        padding-bottom: 2rem;
        flex-direction: column;
    }
}