body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 2fr 3fr;
    background-color: #000000;
    color: #E6E6E3;
    height: 100vh;
    font-family: "Libre Baskerville", serif;
    font-size: 0.875rem;
}

#col-artwork {
    padding: 2rem 3rem;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    overflow-x: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #161616; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

#col-canvas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100vh;
    min-width: 42.5rem;
    background-color: #000000;
}

canvas {
    padding-bottom: 2rem;
}

#intro {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

a {
    color: #E6E6E3;

    &:visited {
        color: #E6E6E3;
    }
}

h1, p {
    margin: 0;
    line-height: 150%;
}

h1 {
    font-size: 2rem;
    font-weight: 400;

}

.btn-container {
    position: absolute;
    bottom: 1.5rem;
    display: flex;
    gap: 1.5rem;
}

button {
    height: 48px;
    padding: 0 24px;
    border: 4px solid #1e1e1e;
    border-radius: 12px;
    font-family: "JetBrains Mono", monospace;
    font-weight: 500;
    font-size: 0.875rem;
    color: #E6E6E3;
    background: linear-gradient(#646464, #333333);
    box-shadow: 0px 1px 1px 0px rgb(255, 255, 255, 0.5) inset,
                0px 2px 2px 0px rgb(255, 255, 255, 0.25) inset;
    cursor: pointer;
    transition: ease-out 100ms;
}

button:hover {
    box-shadow: 0px 1px 1px 0px rgb(255, 255, 255, 0.5) inset,
                0px 2px 4px 0px rgb(255, 255, 255, 0.25) inset,
                0px 2px 2px 0px rgb(255, 255, 255, 0.25) inset;
}

button:active {
    transform: translateY(1px);
    box-shadow: 0px 1px 1px 0px rgb(0, 0, 0, 0.5) inset,
                    1px 1px 4px 0px rgb(0, 0, 0, 0.25) inset,
                    -1px -2px 2px 0px rgb(0, 0, 0, 0.25) inset,
                    -1px 6px 4px 0px rgb(0, 0, 0, 0.1) inset;
}

#artwork-container {
    position: relative;
}

#artwork-text {
    margin-bottom: 2rem;
    border-top: 1px solid #606060;
    opacity: 0;
}

.text-row {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 1rem 0;
    border-bottom: 1px solid #606060;
}

.row-title {
    font-family: "JetBrains Mono", monospace;
    font-weight: 500;
    color: #AEAEA4;
}

#image-container {
    position: absolute;
    top: 0;
    transition: cubic-bezier(0.78, 0, 0.22, 1) 300ms;
    padding-bottom: 2rem;
}

#image-wrapper {
    position: relative;
    width: 100%;
}

#image {
    width: 100%;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgb(0, 0, 0, 0.5), transparent), url(https://grainy-gradients.vercel.app/noise.svg);
    backdrop-filter: blur(24px);
    color: white;
    font-family: "JetBrains Mono", monospace;
    text-align: center;
    cursor: pointer;
    transition: ease-out 100ms;
}

#overlay:hover {
    backdrop-filter: blur(16px);
}

@media (max-width: 1024px) {
    body {
        display: flex;
        flex-direction: column;
    }
    
    #col-artwork {
        width: auto;
        padding: 2rem;
    }

    #image-wrapper {
        object-fit: contain;
    }

    #image {
        width: 100%;
        height: auto;
    }

    #col-canvas {
        height: fit-content;
        min-width: 100vw;
        background-color: #000000;
    }

    #textmode-canvas {
        width: 100vw;
    }

    canvas {
        padding-bottom: 0;
    }

    .btn-container {
        position: inherit;
        gap: 1rem;
        padding-bottom: 2rem;
    }
}